{{- $characterFiles := dict -}}
{{- $characterFile := "/path/to/characters.md" -}}
{{- $characterNames := readFile $characterFile | split "\n" -}}
{{- $characterNames = delimit $characterNames "" -}}

{{- $commonWords := slice "the" "a" "an" "of" "and" "in" "is" "to" "for" "with" "on" "by" "as" "at" "from" -}}
{{- $titleWords := slice "King" "Queen" "Prince" "Princess" "Lord" "Lady" -}}

{{- $sanitizedCharacterNames := slice -}}
{{- range $characterNames -}}
    {{- $sanitizedName := $sanitizeName . -}}
    {{- if ne $sanitizedName "" -}}
        {{- $sanitizedCharacterNames = $sanitizedCharacterNames | append $sanitizedName -}}
    {{- end -}}
{{- end -}}

<table>
    <thead>
        <tr>
            <th>Character Name</th>
            <th>Files</th>
        </tr>
    </thead>
    <tbody>
        {{- range $sanitizedCharacterNames -}}
        <tr>
            <td>{{- . -}}</td>
            <td>
                {{- $character := . -}}
                {{- range where .Pages "Type" "!=" "!ignore" -}}
                    {{- $characterFiles.Add $character (slice) -}}
                    {{- $characterFiles.Set $character ($characterFiles.Get $character | append .) -}}
                {{- end -}}
                {{- range $characterFiles.Get $character -}}
                    <a href="{{- .RelPermalink -}}">{{- .Title -}}</a><br>
                {{- end -}}
            </td>
        </tr>
        {{- end -}}
    </tbody>
</table>
