{{ $characterFile := "content/notes/characters.md" }}
{{ $characterNames := readFile $characterFile | split "\n" }}

{{ $characters := slice }}
{{ range $characterNames }}
  {{ $character := trim . " \t" }}
  {{ $characters = $characters | append $character }}
{{ end }}

{{ $site := .Site }}

{{ $characterFiles := slice }}
{{ range $site.RegularPages }}
  {{ $content := .Plain }}
  {{ $matchingFiles := slice }}
  {{ range $characters }}
    {{ if in $content . }}
      {{ $matchingFiles = $matchingFiles | append . }}
    {{ end }}
  {{ end }}
  {{ if gt (len $matchingFiles) 0 }}
    {{ $characterFiles = $characterFiles | append $matchingFiles }}
  {{ end }}
{{ end }}

<table>
  <thead>
    <tr>
      <th>Character Name</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    {{ range $characterFiles }}
      <tr>
        <td>{{ . }}</td>
        <td>
          {{ $matchingFiles := where $site.RegularPages "Params.Character" . }}
          {{ range $matchingFiles }}
            {{ $file := . }}
            <a href="{{ $file.RelPermalink }}">{{ $file.Title }}</a><br>
          {{ end }}
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
