{{ $characterFile := "content/notes/characters.md" }}
{{ $characterNames := readFile $characterFile | split "\n" }}

{{ $characters := slice }}
{{ range $characterNames }}
  {{ $character := trim . " \t\n" }}
  {{ $characters = $characters | append $character }}
{{ end }}

{{ $site := .Site }}

{{ $matchedCharacters := slice }}

{{ range $characters }}
  {{ $character := . }}
  {{ range $site.RegularPages }}
    {{ $content := .Content }}
    {{ if in $content $character }}
      {{ $matchedCharacters = $matchedCharacters | append $character }}
      {{ printf "Match found for character '%s' in file '%s'" $character .RelPermalink | println }}
    {{ end }}
  {{ end }}
{{ end }}

<table>
  <thead>
    <tr>
      <th>Character Name</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    {{ range $matchedCharacters }}
      {{ $character := . }}
      {{ $characterFiles := slice }}
      {{ range $site.RegularPages }}
        {{ $content := .Content }}
        {{ if in $content $character }}
          {{ $characterFiles = $characterFiles | append . }}
        {{ end }}
      {{ end }}
      <tr>
        <td>{{ $character }}</td>
        <td>
          {{ range $characterFiles }}
            {{ $file := . }}
            <a href="{{ $file.RelPermalink }}">{{ $file.Title }}</a><br>
          {{ end }}
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
