{{/* listmd.html */}}
<section class="md-list">
  <h2>List of Available Notes</h2>
  <ul>
    {{ $files := .Site.RegularPages.ByTitle }}
    {{ $sortedFiles := slice }}
    {{ range $files }}
      {{ $title := replace .File.BaseFileName ".md" "" }}
      {{ $sortedFiles = $sortedFiles | append (dict "Title" $title "Permalink" .Permalink) }}
    {{ end }}
    {{/* Custom sorting algorithm */}}
    {{ $length := len $sortedFiles }}
    {{ range $i, $ := until $length }}
      {{ range $j, $ := until (sub $length (add $i 1)) }}
        {{ $file1 := index $sortedFiles $j }}
        {{ $file2 := index $sortedFiles (add $j 1) }}
        {{ $num1 := toInt $file1.Title }}
        {{ $num2 := toInt $file2.Title }}
        {{ if gt $num2 $num1 }}
          {{ $sortedFiles = $sortedFiles | set $j $file2 | set (add $j 1) $file1 }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{/* End of sorting algorithm */}}
    {{ range $sortedFiles }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</section>
