{{/* sortNumericAsc.html */}}
{{ $sortedFiles := . }}
{{ $length := len $sortedFiles }}
{{ $i := 0 }}
{{ range $i (sub $length 1) }}
  {{ range $j (sub $i 1) }}
    {{ $current := index $sortedFiles $j }}
    {{ $next := index $sortedFiles (add $j 1) }}
    {{ $currentTitle := int $current.Title }}
    {{ $nextTitle := int $next.Title }}
    {{ if gt $currentTitle $nextTitle }}
      {{ $sortedFiles = set $sortedFiles $j $next }}
      {{ $sortedFiles = set $sortedFiles (add $j 1) $current }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $sortedFiles }}
